!.gitignore
*.seed
.vs
*.pubxml
*.pubxml
[Oo]bj
*.user
*.suo
[Cc]ache
[Aa]dCache
*.bak
*.log 
*.DS_Store
[Tt]est[Rr]esult*
[Tt]humbs.db 
_ReSharper.*
*.resharper
[Pp]ublish
!Publish.cs
[Pp]ackages
[Bb]uild
[Bb]in
[Ll]og/
[Cc]atch
[Jj]son
/.vs