<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="./nlog-internal.log">

	<variable name="logDirectory" value="C:/ApLog/Service/NotificationService"/>
	<extensions>
	  <add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="error" fileName="${logDirectory}/Error-${shortdate}.log" encoding="utf-8">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff}" />
				<attribute name="thread_id" layout="${threadid}"/>
				<attribute name="level" layout="${uppercase:${level}}"/>
				<attribute name="callsite" layout="${callsite:includeNamespace=false}"/>
				<attribute name="msg" layout="${message}" escapeUnicode="false" />
			</layout>
		</target>
		<target xsi:type="File"
            name="EasyNetQ"
            fileName="${logDirectory}/EasyNetQ-${shortdate}.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${threadid}] ${uppercase:${level}} ${callsite} - ${message}"
            encoding="utf-8" keepFileOpen="true" openFileCacheTimeout="30" />
		<target xsi:type="File"
				name="Common"
				fileName="${logDirectory}/Common-${shortdate}.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${threadid}] ${uppercase:${level}} ${callsite} - ${message}"
			encoding="utf-8" keepFileOpen="true" openFileCacheTimeout="30" />
		<target xsi:type="File"
				name="Log"
				fileName="${logDirectory}/Log-${shortdate}.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${threadid}] ${uppercase:${level}} ${callsite} - ${message}"
			encoding="utf-8" keepFileOpen="true" openFileCacheTimeout="30" />
	</targets>
	

	<rules>
		<logger name="EasyNetQ.*" minlevel="Info" writeTo="EasyNetQ" />
		<logger name="Common" minlevel="Info" writeTo="Common" />
		<logger name="Log" minlevel="Info" writeTo="Log" />
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>